// SPDX-License-Identifier: GPL-2.0
/*
 * Device Tree Source for the VC4 vehicle computer board
 *
 * This dts version requires full access for CA55 cores (application domain)
 * to the control domain. Means G4 processor domain needs to grant access
 * before Linux is booted.
 *
 * Copyright (C) 2021-2023 Renesas Electronics Corp.
 */

#include "r8a779f0-vc4.dts"
#include "r8a779f0-ctrl-domain.dtsi"

&etnb0 {
	/* keep it disabled until driver support is implemented */
	status = "disabled";

	pinctrl-0 = <&etnb0_pins>;
	pinctrl-names = "default";

	phy-mode = "rmii";
	phy-handle = <&etnb0_100base_tx_phy>;

	etnb0_100base_tx_phy: ethernet-phy@1 {
		reg = <1>;
		status = "okay";
	};

	etnb0_100base_t1_phy: ethernet-phy@2 {
		reg = <2>;
		status = "disabled";
	};
};

&gpio5 {
	etnb0-mux {
		gpio-hog;
		gpios = <17 GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "ETNB0-MUX";
	};
};

&pfc {
	etnb0_pins: etnb0 {
		groups = "etnb0_rmii", "etnb0_mdio", "etnb0_link";
		function = "etnb0";
	};
};
